/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
.navbar {
    background-color: #FFFFFF;
    height: 4em;
}
.feedback-form{
    width: 30em;
    }

.footer {
    background: #FFFFFF;
    color: #000;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 2em;
    min-height: 1em;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
}



.btn-info{
    align-self: center;
}

.heady{
    height: 5em;
    width: 100%;
}
ul {
    list-style-type: none;
}

.vlogo {
    border: 1px solid;
    padding: 30px 36px 0;
    border-color: rgba(17,17,17,0.1);
    width: 768px;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

article {
    margin-bottom: 36px;
}

.step, .currentStep {
    padding: 3px;
}

.paging {
    margin-top: 10px;
}

a {
    color: #000; !important;
}

.currentStep {
    text-decoration-line: underline;
}

body {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}
/*

tr td{
    vertical-align: middle;
}*/

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;

}

.errorMessage {
    color: red;
}

